.IngredientInputCard-wrapper{
    .amount{
        width: 50px;
    }
    .unit{
        width: 100px;
    }
    .iName{
        width: 150px;
    }
    button{
        border-radius: 5px;
    }
    *{
        margin-left: 10px;
    }
}