%navcontent {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    @extend %navcontent;
    padding: 10px 20px;

    .site-title{
        font-weight: bold;
        font-size: 20px;
    }
    
    p{
        color: green;
    }

    .menuitems {
        @extend %navcontent;
        margin: 0 20px;
    }
}