.navbar, .navbar .menulinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.navbar .dropdown-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100vw;
    right: 0.1px;
    transition: transform 0.5s;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    z-index: 1000;
    padding-bottom: 10px;
    p {
        font-size: 20px;
        color: white;
        margin: 0;
        padding: 10px 15px;
    }
}

.closed {
    background-color: #439a86;
    transform: translateY(-500px);
}

.opened {
    background-color: #439a86;
    transform: translateY(195px);
}

.navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    z-index: 1500;
    background-color: #439a86;
    .menulinks {
        margin-right: 20px;
    }
}

.navbar .site-title p {
    font-weight: bold;
    font-size: 18px;
    margin-left: 50px;
}

.navbar p {
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0 15px;
}

.navbar .menulinks p {
    border-left: 1px solid black;
}

#UserLoginLogout p {
    cursor: pointer;
}

.navbar {
    img {
        height: 27px;
        display: none;
        margin-right: 50px;
    }
}

@media screen and (max-width: 1113px) {
    .navbar p {
        font-size: 18px;
    }
}

@media screen and (max-width: 1046px) {
    .navbar .menulinks {
        display: none;
    }
    .navbar img {
        display: block;
    }
    .navbar .dropdown-nav {
        display: flex;
    }
}

#login-button{
    color: white;
    border-radius: 10px;
    border: none;
    background: #007991;
    transition: .2s;
    padding: 10px;
}

#login-button:hover{
    background: #00b1d4;
    cursor: pointer;
}

.login-input{
    width: 80%;
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid lightblue;
    transition: .2s;
    margin-left: auto;
    margin-right: auto;
}