.next-meal-container{

}


.next-meal{
    margin-top: 20px;
    border: black solid 2px;
    float: right;
    margin-right: 20px;
    width: 20%;
    border-radius: 10px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: 500;
    padding: 10px;
    div{
        font-weight: 400;

    }
    img{
        height: 200px;
        width: 200px;
    }
}


.next-meal-element{
    height: 30%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(156, 156, 156);

    div{
        position: absolute;
        bottom: 0px;
        height: 20%;
        background-color: rgba(0, 128, 0, 0.685);
        color: rgba(255, 255, 255, 0.897);
        font-size: 20px;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}