%margin-side-10{
    margin-left: 10px;
    margin-right: 10px;
}


.browseWindow{
    list-style-type: none;
    li{
        margin: 10px
    }
}

.withSearch-wrapper{
    div{
        button{
            border-radius: 5px;
            @extend %margin-side-10;
            margin-bottom: 10px;
        }
        input{
            margin-top: 10px;
        }

    }
}