.RecipeIngredientCard-wrapper{
    ul{
        list-style-type: none;
    }
    .search-input{
        width: 200px;
        margin-left: 10px;
        margin-right: 10px;
    }
    section{
        // margin-top: 15px;
        margin-bottom: 15px;
    }
}