.calendar-container-mealplan-currentweek{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    h2{
        margin-left: 80px;
    }

    .save-changes{
        background: #e9d985;
        padding: 5px;
        width: 10%;
        float: right;
        margin-left: 20px;
        border-radius: 10px;
    }
    .save-changes:disabled{
        border: none;
        background: rgb(218, 218, 218);
        color: ivory;

    }
}



.calendar-container-mealplan-currentweek .fc-widget-content{

    height: 130px;
}

#new-recipe-container{
    border-bottom: black solid 2px;
    height: 50%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px
    
}

#trash{
    transition: .1s;
    width: 70px;
    height: 70px;

}

.search-options{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    margin-top: 20px;
}

#trash:hover{
    width: 120px;
    height: 120px;
}
    ::-webkit-scrollbar {
        width: 10px;
      }
       
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
       
      ::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        border-radius: 8px;
      }
#search-result-container{
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 500px;

    padding: 20px;
    overflow-y: scroll;
    border: black solid 2px;
    border-radius: 10px;


}

.search-result-block{
    margin-top: 5px;
    border: solid black 2px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding:5px;
    height: 80px;
    height: 80px;
    box-shadow: 2px 2px 5px grey;


    p{
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 60px;
        width: 50%;
        font-size: 15px;

        
    }
    img{
        height: 100%;
        border-radius: 10px;

    }
}

#search-recipe{
    background-image: url('../../../../icons/search-solid.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-y:3px;
    background-position-x: 3px;
    border-radius: 5px;
    border: solid;
    padding-left: 30px;
}

#search-recipe:focus{
}

button:disabled{
    color:rgb(214, 214, 214);
    border: white solid;

}

.nav-arrows{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    transform: .5s;

    
}

.nav-arrows img{
    transition: .2s;

}

.nav-arrows img:hover{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.auto-complete-list{
    border: rgb(139, 139, 139) solid 2px;
    border-radius: 8px;
    list-style-type: none;
    margin-left:auto ;
    margin-right:auto ;
    width: 22%;
    padding: 5px;
    max-height: 150px;
    overflow-y: scroll;
    li{
        border: rgb(163, 163, 163) solid 2px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        width: 90%;
        font-size: 15px;
        color: grey;
    }
    li:hover{
        cursor: pointer;
        box-shadow: 2px 2px 2px;
    }
}

.nutrition-list{
    padding: 0px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    li{
        width: 40%;
        border: black solid 2px;
        list-style-type: none;
        margin-top: 10px;
        padding: 5px;
        text-align: left;
        padding-left: 10px;
        border-radius: 10px;
    }
}

.alt-meals-list{
    padding: 0px;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    border: black solid 2px;
    max-height: 300px;
    overflow-y: scroll;
    li{
        width: 80%;
        border: black solid 2px;
        list-style-type: none;
        margin-top: 10px;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        padding-left: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    li:hover{
        cursor: pointer;
        box-shadow: 2px 2px 2px;
    }
}