.calendar-container-mealplan-currentweek{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    h2{
        margin-left: 50px;
    }
}

.calendar-container-mealplan-currentweek .fc-widget-content{

    height: 130px;
}